{{teacher.stud_name1}}
<!DOCTYPE html>
{% load static %}
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Right Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="{% static 'admin/student_details_1/Detail_view/css/font-awesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/student_details_1/Detail_view/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/student_details_1/Detail_view/css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'admin/student_details_1/Detail_view/css/main.css' %}" rel="stylesheet">
    <noscript>

    </noscript>
  </head>
  <body id="top">
    <header class="d-print-none">
      <div class="container text-center text-lg-left">
        <div class="py-3 clearfix">
          <h1 class="site-title mb-0">{{teacher.stud_name1}}</h1>
          <div class="site-nav">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip" title="Facebook"><i class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="container">
<div class="cover shadow-lg bg-white">
  <div class="cover-bg p-3 p-lg-4 text-white">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div class="avatar hover-effect bg-white shadow-sm p-1"><img src="{{teacher.teacher_img.url}}" width="200" height="200"/></div>
      </div>
      <div class="col-lg-8 col-md-7 text-center text-md-start">
        <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{teacher.teacher_name1}}&nbsp;{{teacher.stud_name2}}</h2>
        <p data-aos="fade-left" data-aos-delay="100">{{teacher.department}}</p>
         <p data-aos="fade-left" data-aos-delay="100">{{teacher.Gender}}</p>
      </div>
    </div>
  </div>
  <div class="about-section pt-4 px-3 px-lg-4 mt-1">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h3 mb-3">Address</h2>
        <p>{{teacher.address}},&nbsp;{{teacher.pin_code}}</p>
        <p>{{teacher.city}},&nbsp;{{teacher.state}}</p>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="pb-1">Age</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">{{teacher.dob}}</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Siblings</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">{{teacher.siblings}}</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Email</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">{{teacher.father_mail}}</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Phone</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">{{teacher.father_mob}}</div>
          </div>
          <div class="col-sm-4">
            <div class="pb-1">Address</div>
          </div>
          <div class="col-sm-8">
            <div class="pb-1 text-secondary">{{teacher.address}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="skills-section px-3 px-lg-4">
    <h2 class="h3 mb-3">Parents Details</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-2"><span>Father Name &nbsp;: &nbsp;{{teacher.father_name1}} &nbsp;{{teacher.father_name2}}</span>

        </div>
        <div class="mb-2"><span>Occupation &nbsp;: &nbsp;{{teacher.father_occu}}</span>

        </div>
        <div class="mb-2"><span>Mobile &nbsp;: &nbsp;{{teacher.father_mob}}</span>
        </div>

        <div class="mb-2"><span>Mail &nbsp;: &nbsp;{{teacher.father_mail}}</span>
        </div>

        <div class="mb-2"><span>Qualification &nbsp;: &nbsp;{{teacher.father_quali}}</span>
        </div>
      </div>
      <div class="col-md-6">
       <div class="mb-2"><span>Mother Name &nbsp;: &nbsp;{{teacher.mother_name1}} &nbsp;{{teacher.mother_name2}}</span>

        </div>
        <div class="mb-2"><span>Occupation &nbsp;: &nbsp;{{teacher.mother_occu}}</span>

        </div>
        <div class="mb-2"><span>Mobile &nbsp;: &nbsp;{{teacher.mother_mob}}</span>
        </div>

        <div class="mb-2"><span>Mail &nbsp;: &nbsp;{{teacher.mother_mail}}</span>
        </div>

        <div class="mb-2"><span>Qualification &nbsp;: &nbsp;{{teacher.mother_quali}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Previous School</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">{{teacher.insti_name}} <span class="text-muted h6">at {{teacher.prev_address}}</span></div>
          <div class="text-muted text-small mb-2">{{teacher.start_date}} - {{teacher.end_date}}</div>
          <div>{{teacher.reason}}</div>
          <div class="text-muted text-small mb-2" style="margin-left:600px;">CGPA - {{teacher.cgpa}}</div>
        </div>
      </div>

    </div>
  </div>
  <hr class="d-print-none"/>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Personal Details</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Hobbies </div>
          <div>{{teacher.hobbies}}</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Skills </div>
          <div>{{teacher.skills}}</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Blood Group </div>
          <div>{{teacher.blood_group}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-break"></div>
  <div class="education-section px-3 px-lg-4 pb-4">
    <h2 class="h3 mb-4">Admission Details</h2>
    <div class="timeline">
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Class in Which Admission is Sought </div>
          <div>{{teacher.department}}</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Class </div>
          <div>{{teacher.classes}}</div>
        </div>
      </div>
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">Blood Group </div>
          <div>{{teacher.blood_group}}</div>
        </div>
      </div>
    </div>
  </div>

  <!----------------------------admission Acceptance Details ----------------------->

   <hr class="d-print-none"/>
  <div class="contant-section px-3 px-lg-4 pb-4" id="contact">
    <h2 class="h3 text mb-3">Acceptance</h2>
    <div class="row">
      <div class="col-md-7 d-print-none">
        <div class="my-2"><form action="#"
    method="POST">
  <div class="row">
    <div class="col-6">
      <input class="form-control" type="text" id="name" name="stud_name1" value="{{teacher.stud_name1}}" readonly>
    </div>
    <div class="col-6">
      <input class="form-control" type="text" id="email" name="stud_name2" value="{{teacher.stud_name2}}"  readonly>
    </div>
  </div>
  <div class="form-group my-2">
    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Send</button>
</form>
        </div>
      </div>
      <div class="col">
        <div class="mt-2">
          <h3 class="h6">Address</h3>
          <div class="pb-2 text-secondary">140, City Center, New York, U.S.A</div>
          <h3 class="h6">Phone</h3>
          <div class="pb-2 text-secondary">+0718-111-0011</div>
          <h3 class="h6">Email</h3>
          <div class="pb-2 text-secondary">Joyce@company.com</div>
        </div>
      </div>
      <div class="col d-none d-print-block">
        <div class="mt-2">
          <div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
              </div>
            </div>
            <div class="mb-2">
              <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>



    <script src="{% static 'admin/student_details_1/Detail_view/scripts/bootstrap.bundle.min.js?ver=1.2.0' %}"></script>
    <script src="{% static 'admin/student_details_1/Detail_view/scripts/aos.js?ver=1.2.0' %}"></script>
    <script src="{% static 'admin/student_details_1/Detail_view/scripts/main.js?ver=1.2.0' %}"></script>
  </body>
</html>