.header{
  width:110%;
  height:100px;
  margin:100px 0px 0px -20px;
  background-color:blue;
}
.heading{
  padding:30px;
  text-align:center;
  color:white;
  font-size:40px;
}
.cont{
 background-color:grey;
 margin:50px 0px 0px 250px;
 padding:50px;
 width:60%;
 border-radius:10px;
}
.inside_div{
  background-color:white;
}
.row_style{
  padding:30px;
}
.con{
 width:150px;
 height:200px;
 margin-left:10px;
  border-style: solid;
  border-color: rgb(187, 187, 187);
}
.up_img{
  width:15px;
 }
 .up_label{
    margin-top:3px;
    margin-left:1px;
    font-size:10px;
    font-weight:bold;
 }
.parent_inside_div{
      display:flex;
      flex-direction: row;
      justify-content: last;
       align-items: center;
       margin-bottom:15px;
       float: right;
}

.father_input{
width:250px;
margin-left:35px;
}
.form-check{
 padding-right:50px;
}
